{% extends "base.html" %}

{% block breadcrumb %}
<li>Login</li>
{% endblock %}

{% block content %}
{% if ERROR %}
<font color="red">{{ ERROR }}</font><br><br>
{% endif %}

<form action="./" method="post">
	<div class="form-group">
		<label>アカウント名</label>
		<input type="text" name="username" class="form-control">
	</div>
	<div class="form-group">
		<label>パスワード</label>
		<input type="password" name="password" class="form-control">
	</div>
	<button type="submit">ログイン</button>
	<input type="hidden" name="CSRF" value="{{ CSRF }}">
	<input type="hidden" name="redirect" value="{{ redirect }}">
</form>
<br />
<br />
{% if TWITTER_LOGIN_URL != "" %}
<a class="btn btn-primary" href="{{ TWITTER_LOGIN_URL }}?redirect={{ redirect }}">Twitterでログイン</a>
{% endif %}
{% if google_login == "True" %}
<a class="btn btn-primary" href="./google/?redirect={{ redirect }}">Googleでログイン</a>
{% endif %}
{% endblock content %}
