<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}Lambda CMS{% endblock title %}</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		{% block addedhead %}{% endblock addedhead %}
    </head>
    <body>
    	<nav class="navbar navbar-expand-md navbar-light bg-light">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav4" aria-controls="navbarNav4" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
			</button>
       		{% block navhead %}
       			<a class="navbar-brand" href="/">Lambda CMS</a>
       		{% endblock %}
		<div class="collapse navbar-collapse justify-content-around" id="navbarNav4">
		<ul class="navbar-nav">
			{% if user.Sort == "anonymous" %}
			<li class="nav-item">
				<a class="nav-link" href="{{ URL_PREFIX }}/account/login/">Login</a>
			</li>
			{% else %}
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{ user.Nickname }}</a>
				<div class="dropdown-menu">
					<a class="nav-link" href="{{ URL_PREFIX }}/account/config/">設定</a>
					{% if user.Admin == true %}
					<a class="nav-link" href="/config/">Admin設定</a>
					{% endif %}
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="{{ URL_PREFIX }}/account/logout/?redirect=/">Logout</a>
				</div>
			</li>
			{% endif %}
		</ul>
		</div>
      	</nav>
      	<div class="container-fluid">
        	<h1>{% block pagetitle %}{{ Title }}{% endblock %}</h1>
        	<ul class="breadcrumb">
          		{% block breadcrumb %}{{ Title }}{% endblock %}
        	</ul>
      	</div>
      	{% block menublock %}{% endblock %}
      	<div class="container-fluid">
      	  	<div class="row">
          	{% block basecontent %}
          		<div class="col-md-12 main">
            		<div class="panel panel-default">
              			<div class="panel-body">
                			{% block content %}{% endblock content %}
              			</div>
            		</div>
          		</div>
          	{% endblock basecontent %}
        	</div>
      	</div>

      	<footer>
        	<HR>
        	<div class="container-fluid">
          		<div class="row">
            		<p class="site-info text-center">
						<a href="/termofuse/">利用規約</a> | Powered by Lambda CMS
            		</p>
          		</div>
        	</div>
      	</footer>
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
      	{% block scriptblock %}{% endblock scriptblock %}
    </body>
</html>
