{% extends "base.html" %}

{% block breadcrumb %}
<li>Config User List</li>
{% endblock %}

{% block content %}
{% if ERROR %}
<font color="red">{{ ERROR }}</font><br><br>
{% endif %}

<table border="1">
<tr>
  <td>Sort</td><td>Disabled</td><td>Admin</td><td>Staff</td>
</tr>
{% for item in users %}
<tr>
  <td><a href="./{{ item.Sort }}/">{{ item.Sort }}</a></td><td>{{ item.Disabled }}</td><td>{{ item.Admin }}</td><td>{{ item.Staff }}</td>
</tr>
{% endfor %}
</table>

{% if pageKey %}
<a href="./?key={{ pageKey }}">Next</a>
{% endif %}
<a href="../">Back</a>

<HR>
PageKey:{{ pageKey }}
<HR>

{% endblock content %}
