{% extends "base.html" %}

{% block breadcrumb %}
<li>Config</li>
{% endblock %}

{% block content %}
{% if message %}
<font color="red">{{ message }}</font><br><br>
{% endif %}
{% if message2 %}
<font color="red">{{ message2|safe }}</font><br><br>
{% endif %}
{% if ERROR %}
<font color="red">{{ ERROR }}</font><br><br>
{% endif %}

path: {{ path }}<br><br>
URL_PREFIX: {{ URL_PREFIX }}<br><br>
AWS_REGION: {{ AWS_REGION }}<br><br>
DynamoDB_TABLE: {{ DynamoDB_TABLE }}<br><br>
DynamoDB_TABLE_PREFIX: {{ DynamoDB_TABLE_PREFIX }}<br><br>
TEMPLATE_S3_BUCKET: {{ template_s3_bucket }}<br><br>
<HR>
mode: {{ mode }}<br><br>
<HR>
<a href="{{ URL_PREFIX }}/config/media/" class="btn">Media Library</a><br><br>
<a href="{{ URL_PREFIX }}/config/user/" class="btn">User List</a>

<HR>
{% if Status == "prev_dynamodb_setting" %}
DynamoDB_TABLE、DynamoDB_TABLE_PREFIXの環境変数をLambdaに設定してください。
{% endif %}
{% if Status == "prev_create_root" %}
ルートユーザーの作成を行ってください。
<a class="btn btn-primary" href="./?mode=createroot">作成</a>
{% endif %}
<HR>
{{ requestText }}
<HR>
{% endblock content %}
