{% extends "base.html" %}

{% block breadcrumb %}
<li>Config User List</li>
{% endblock %}

{% block content %}
{% if ERROR %}
<font color="red">{{ ERROR }}</font><br><br>
{% endif %}

<form action="./" method="post">
<table border="1">
<tr>
  <td>対象</td><td>値</td><td>編集</td><td>その他</td>
</tr>
<tr>
  <td>Sort</td><td>{{ target.Sort }}</td><td></td><td></td>
</tr>
<tr>
  <td>Disabled</td><td>{{ target.Disabled }}</td><td>
    <select name="Disabled">
      <option value="true" {% if target.Disabled %} selected {% endif %}>True</option>
      <option value="false" {% if target.Disabled == false %} selected {% endif %}>False</option>
    </select>
  </td><td></td>
</tr>
<tr>
  <td>Admin</td><td>{{ target.Admin }}</td><td>
    <select name="Admin">
      <option value="true" {% if target.Admin %} selected {% endif %}>True</option>
      <option value="false" {% if target.Admin == false %} selected {% endif %}>False</option>
    </select>
  </td><td></td>
</tr>
<tr>
  <td>Staff</td><td>{{ target.Staff }}</td><td>
    <select name="Staff">
      <option value="true" {% if target.Staff %} selected {% endif %}>True</option>
      <option value="false" {% if target.Staff == false %} selected {% endif %}>False</option>
    </select>
  </td><td></td>
</tr>
</table>

<input type="submit" value="保存">
<input type="hidden" name="CSRF" value="{{ CSRF }}">

</form>

<a href="../">Back</a>

{% endblock content %}
