{% extends "base.html" %}

{% block breadcrumb %}
<li>Config</li>
{% endblock %}

{% block content %}
{% if ERROR %}
<font color="red">{{ ERROR }}</font><br><br>
{% endif %}

<form action="./?mode=createroot" method="post">
<p>
アカウント名：<input type="text" name="username" >
</p>
<p>
パスワード:<input type="password" name="password" >
</p>
<input type="submit" value="送信">
<input type="hidden" name="CSRF" value="{{ CSRF }}">
</form>
{% endblock content %}
