{% extends "base.html" %}

{% block breadcrumb %}
<li>利用規約</li>
{% endblock %}

{% block content %}
{% if user.Admin == true %}

{% if ERROR %}
<p><font color="red">{{ ERROR }}</font></p>
{% endif %}
<HR>
<p>{{ TermOfUse|safe }}</p>
<HR>
<form action="./" method="post">
<p>
<textarea name="draft" rows="10" cols="40">{{ TermOfUse|safe }}</textarea>
</p>
<input type="checkbox" name="pubulish" value="yes">公開する<br />
<input type="submit" value="保存">
<input type="hidden" name="CSRF" value="{{ CSRF }}">
</form>

{% endif %}

{% endblock content %}
