{% extends "base.html" %}

{% block breadcrumb %}
<li>利用規約</li>
{% endblock %}

{% block content %}

<p>{{ TermOfUse|safe }}</p>
{% if user.Admin == true %}
<HR>
<a class="btn btn-primary" href="./edit/">編集</a>
{% endif %}

{% if user.Sort != "anonymous" %}
{% if accepted == false %}
<form action="./" method="post">
<input type="submit" value="同意する">
<input type="hidden" name="accept" value="yes">
<input type="hidden" name="CSRF" value="{{ CSRF }}">
</form>
{% endif %}
{% endif %}

{% endblock content %}
